<%- include("header") -%>
<div class="container-fluid top">
  <div class="failure">
    <h3><a href="/"><i class="fas fa-arrow-left"></i></a> PLEASE ENTER A VALID IP ADDRESS</h3>
  </div>
  </div>
<%- include("footer") -%>
