<footer>
  <p>made by sidhant kaul</p>
  <a href="https://www.linkedin.com/in/sidhant-kaul-203030179/"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://github.com/SidhantKaul"><i class="fab fa-github"></i></a>
</footer>
</body>
</html>
