<%- include("header") -%>
    <div class="container-fluid top">
      <div class="head">
        <h3><i class="fas fa-search-location"></i> IP ADDRESS TRACKER</h3>
      </div>
      <form class="" action="/" method="post">
      <div class="input-group mb-3 search">
        <input type="text" class="form-control shadow-none" autocomplete="off" name="ipadd" placeholder="Search any IP address" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary find" type="submit" id="button-addon2"><i class="fas fa-greater-than"></i></button>
      </div>
    </form>
    </div>
<%- include("footer") -%>
